.Featured {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0;

  &:hover {
    cursor: pointer;
    .text_container {
      h3 {
        color: var(--clr-red);
      }
    }
  }

  .img_container {
    width: 100px;
    padding: 0;
    flex-shrink: 0;

    img {
      display: block;
    }
  }
  .text_container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0;

    .number {
      font-size: 2rem;
      color: var(--clr-red);
      font-weight: 800;
    }
    h3 {
      color: var(--clr-navy-950);
      font-weight: 900;
      font-size: 1.125rem;
      transition: all ease-in-out 0.2s;
    }
    p {
      color: var(--clr-grey-300);
      padding: 0;
    }
  }
}
