.Main {
  display: grid;
  .img_container {
    margin-bottom: 1.5rem;
    .mobile {
      @media (width >= 375px) {
        display: none;
      }
    }
    .desktop {
      @media (width < 375px) {
        display: none;
      }
    }
  }
}
section {
  h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
  }
  div {
    padding: 1.5rem 0;
    p {
      font-size: 0.9375rem;
      font-weight: 400;
      padding: 1.5rem 0;
    }
    button {
      padding: 0.75rem 2.0625rem;
      background-color: var(--clr-red);
      color: var(--clr-navy-950);
      font-weight: 700;
      letter-spacing: 2px;
      font-size: 0.875rem;
    }
  }
}
aside {
  margin: 4rem 0;
  background-color: var(--clr-navy-950);
  color: var(--clr-grey-200);
  padding: 1.3438rem 1.2813rem;
  h5 {
    font-size: 2rem;
    font-family: 900;
    color: var(--clr-gold);
  }
  hr {
    border: 1px solid var(--clr-navy-600);
    margin: 1rem 0;
  }
}
