.MobileMenu {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;

  height: 100vh;
  width: 100vw;
  display: flex;
  padding-top: 2px;
  padding-left: 2px;

  .menu {
    width: 70%;
    position: relative;
    background-color: white;
    padding-top: 2px;
    padding-left: 2px;
    padding-top: 140px;
    padding-left: 21px;
    ul {
      display: flex;
      flex-direction: column;
      gap: 24px;
      font-size: 18px;
    }

    img {
      display: block;
      position: relative;
      width: 30.41px;
      height: 30.41px;
      position: fixed;
      top: 27px;
      right: 23.8;
      top: 21px;
      right: 27px;
    }
    @media (375px < width <1440px) {
      width: 35%;
    }
  }
  .transparent {
    flex: 1;
    background-color: black;
    opacity: 0.5;
  }
}
